<?xml version="1.0"?>

<launch>
	<include file="$(find mpu6050_driver)/launch/mpu6050.launch" />
	<node name="triwheel_robot_driver_node" pkg="triwheel_robot_driver" type="triwheel_robot_driver_node" output="screen">
		<param name="port_name"  value="/dev/ttyTHS2"/>
		<param name="use_serial" value="true"/>
		<param name="baud_rate" value="115200"/>
		<param name="wheel_diameter" value="0.11"/>
		<param name="rotation_radius" value="0.175"/>
		<param name="encoder_resolution" value="2700"/>
		
		<param name="imu_topic" value="/imu/data_raw"/>
		<param name="odom_topic" value="/odom"/>
		<param name="base_frame" value="base_link"/>
		
		<param name="publish_tf" value="true" />
		<param name="odom_frame" value="odom"/>
		
		<rosparam file="$(find triwheel_robot_driver)/launch/cov.yaml" command="load"/>

	</node>
	
</launch>
