<?xml version="1.0"?>

<launch>
	<arg name="yawSrc" value="onboard_imu"/>
	<arg name="use_extern_imu" value="false"/>
	
	<include file="$(find mpu6050_driver)/launch/mpu6050.launch" if="$(arg use_extern_imu)"/>
	
	<node name="triwheel_robot_driver_node" pkg="triwheel_robot_driver" type="triwheel_robot_driver_node" output="screen">
		<param name="port_name"  value="/dev/robot_base"/>
		<param name="use_serial" value="true"/>
		<param name="baud_rate" value="115200"/>
		<param name="wheel_diameter" value="0.11"/>
		<param name="rotation_radius" value="0.175"/>
		<param name="encoder_resolution" value="2700"/>
		
		<param name="imu_topic" value="/imu/data_raw"/>
		<param name="odom_topic" value="/odom"/>
		<param name="base_frame" value="base_link"/>
		
		<param name="publish_tf" value="true" />
		<param name="odom_frame" value="odom"/>
		<param name="yaw_source" value="$(arg yawSrc)"/>
		
		<!-- rosparam file="$(find triwheel_robot_driver)/launch/cov.yaml" command="load"/-->

	</node>
	
</launch>
