<launch>
	<arg name="use_map_topic" default="false"/>
	<arg name="scan_topic" default="scan"/>

	<node pkg="amcl" type="amcl" name="amcl" clear_params="true" output="screen">
		<remap from="scan" to="$(arg scan_topic)"/>
		<param name="use_map_topic" value="$(arg use_map_topic)"/>
		<!--保存机器人位置到服务器的频率 -->
		<!--保存的位置为下次启动提供初始位置，以保证快速定位 -->
		<!--目前不需要 因此设置较低的频率减轻计算负担 -->
		<param name="save_pose_rate" value="0.05" /> 
		
		<!-- 滤波器参数 -->
		<param name="gui_publish_rate" value="10.0"/>
		<param name="min_particles" value="500"/>
		<param name="max_particles" value="2000"/>
		<param name="update_min_d" value="0.03"/>  <!--执行一次滤波器更新所需的平移距离 -->
		<param name="update_min_a" value="0.02"/>   <!--执行一次滤波器更新所需的旋转角度 rad -->
		<param name="odom_frame_id" value="odom"/>
		<param name="resample_interval" value="2"/> <!-- 粒子重采样间隔 -->
		<!-- Increase tolerance because the computer can get quite busy -->
		<param name="transform_tolerance" value="0.1"/>  <!--发布变换的时间，以指示此变换在未来有效 -->
		<param name="recovery_alpha_slow" value="0.001"/>
		<param name="recovery_alpha_fast" value="0.1"/>
		
		<param name="kld_err" value="0.01"/>     <!-- 真实分布与估计分布之间的最大误差-->
		<param name="kld_z" value="0.99"/> 
		
		<!-- 里程计模型参数 -->
		<param name="odom_model_type" value="diff"/>
		<param name="odom_alpha1" value="0.1"/>
		<param name="odom_alpha2" value="0.1"/>
		<!-- translation std dev, m -->
		<param name="odom_alpha3" value="0.2"/>
		<param name="odom_alpha4" value="0.2"/>
		<param name="odom_alpha5" value="0.1"/>
		
		
		<!-- 激光雷达参数 -->
		<param name="laser_max_beams" value="200"/>  <!--更新过滤器时，要在每圈使用多少均匀间隔的光束 -->
		<param name="laser_min_range" value="-1.0"/> <!-- -1.0 表示使用激光雷达上报的范围 -->
		<param name="laser_max_range" value="-1.0"/>
		
		<param name="laser_z_hit" value="0.95"/> <!--高斯分布占比 -->
		<param name="laser_z_rand" value="0.05"/> <!--无法解释的随机噪声 -->
		
		<param name="laser_z_short" value="0.1"/>
		<param name="laser_z_max" value="0.05"/>
		
		<param name="laser_sigma_hit" value="0.2"/>
		<param name="laser_lambda_short" value="0.1"/>
		<param name="laser_model_type" value="likelihood_field"/>  <!--似然域模型 -->
		<!-- param name="laser_model_type" value="beam"/ -->  <!--激光束模型 -->
		
		<param name="laser_likelihood_max_dist" value="2.0"/>   <!-- 地图上测量障碍物膨胀的最大距离-->
		
		<!-- 机器人初始位置参数 -->
		<rosparam file="$(find robot_nav)/config/robot/initial_pose.yaml" command="load" />
		
	</node>
</launch>
