<!-- -->

<launch>
	<arg name="id" default="0"/>
	<arg name="show" default="false" />
	<arg name="file" default="000.yaml"/>

	<node pkg="camera_driver" type="camera_driver_node" name="camera_driver_node" output="screen" args="$(arg id)" >
		<param name ="calibration_file_path" value="$(find camera_driver)/calibration_file/$(arg file)"/>
		<param name ="frame_rate" value="30"/>
		<param name="is_show_image" value="$(arg show)"/>
		<rosparam param="image_resolution" > [640,480] </rosparam>
		<param name="image_scale" value="0.5"/>
		
	</node>

</launch>

